body,html
{
	margin: 0%;
	padding: 0%;
}

#box1
{
	height: 60vh;
	width: 100%;
	background-image: url("");
	background-size: cover;
	display: table;
background-attachment: fixed;
}

#box2
{
	height: 100vh;
	width: 100%;
	background-image: url("ppt.png");
	background-size: cover;
	display: table;
background-attachment: fixed;
}

#box3
{
	height: 100vh;
	width: 100%;
	background-image: url("BAR.png");
	background-size: cover;
	display: table;
background-attachment: fixed;
}

 .map11
 {
 	text-align: top-left;
 	font-family: 'Kaushan Script', cursive;
 	font-size: 3em;
 	padding-top:20%;
 	padding-bottom:3%;
 	color: white;
 	 


 }
 .map10
 {
 	text-align: top-left;
 	font-family: 'Kaushan Script', cursive;
 	font-size: 3em;
 	padding-top:15%;
 	padding-bottom:3%;
 	color: darkblue;
 	 
	}

.map12
{
	font-family: 'Kaushan Script', cursive;
	color: white;
	padding-left: 20%;
	text-align: left-top;

}
.foodsc
{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
	color: white;
}





.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    margin: 0%;
    padding: 0%;
    background-size: cover;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.dim
{
	padding-top: 10%;
}